body
{
	background-color: black
}

h3
{
	color:grey; font-size:90 px;
}

table
{
    width: 60%;
    table-layout: fixed;
    border: 1px solid white;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
	margin-bottom: 150px;
}

td
{
    width: 50%;
}

tr:nth-child(odd) 
{
    background-color: darkslategrey
}

#menu
{
	height: auto;
	width: 70%;
	margin: 50px 0 50px 0;
}

#menu_box
{
	height: 75px;
	width: 30%;
	text-align: center;
	background-color: darkslategrey;
	color: aliceblue;
	font-size: 25px;
	line-height: 75px;
	display: inline-block;
	
}

#menu_box:hover
{
	background-color:#155594;
	font-size: 30px;
	font-weight: bold;
}

#contact_box
{
	height: auto;
	width: 75%;
	color: aliceblue;
	font-size: 22px;
	margin: 100px 0 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container
{
    height: auto;
    width: 100%;
}

#content_head
{
    height: 550px;
    width: 100%;
    background-image: url(headbg.jpg);
    background-position: center -50px;
    vertical-align: middle;
    line-height: 550px;
    font-size: 90px;
    color: aliceblue;
}

#content_head_sub
{
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    color: aliceblue;

}

#content_body
{
    height: auto;
    width: 80%;
    
}

#content_plot_image
{
    height: 500px;
    width: 100%;
    background-image: url(p2.jpg);
    background-position: center -40px;
    line-height: 500px;
    font-size: 90px;
    color: aliceblue;
}

#content_plot_text
{
    height: auto;
    width: 75%;
    color:aliceblue;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 25px;
}

#content_cast_image
{
    height: 500px;
    width: 100%;
    background-image: url(bg1.jpg);
    background-position: center -40px;
    line-height: 500px;
    font-size: 90px;
    margin-bottom: 150px;
    color: aliceblue;
}

#content_cast_row_left
{
    height: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

#content_cast_row_left img
{
    float:left;
    margin:0 20px 20px 0;
}

#content_cast_row_left p 
{
    color:aliceblue;
    font-size: 20px;
    display: inline-block;
}

#content_cast_row_right
{
    height: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

#content_cast_row_right img
{
    float:right;
    margin:0 0 20px 20px;
}

#content_cast_row_right p 
{
    color:aliceblue;
    font-size: 20px;
    display: inline-block;
}


#content_charInfo_image
{
    width: 100%;
    height: 300px;
    background-image: url(bg2.jpg);
    background-position: center;
    line-height: 300px;
    color: aliceblue;
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 75px;
}

#content_link_image
{
    width: 100%;
    height: 350px;
    background-image: url(p4.jpg);
    background-position: center -30px;
    line-height: 350px;
    color: aliceblue;
    font-size: 55px;
    margin-top: 150px;
    margin-bottom: 75px;
    text-decoration: none;
}

a
{
    text-decoration: none;
}

#content_link_image:hover
{
    color: darkcyan;
    font-size: 100px;
    
}

